
#main-container-heading{
    position: relative;
    margin: 0 auto;
    width: 120px;
}

#form-text, #contactform{
  position: relative;
  /* bottom: 100px; */
}


.unwanted{
	display: none;
}

.footer_widget nav ul li a{
	color: #9ABC31!important;
}

@media only screen and (min-width: 575px){
	.row .col-sm-7{
		margin: 0 auto;
		/* flex-grow: 2; */
		/* flex-basis: 70%; */
		/* width: 80%; */
		}}