
/*Remove the default Template background image*/
.page-header{
    display: none;
}


.hero-area h1{
    width: 155px;
}

#main-container{
    display: block;
}
.unwanted{
    display: none;
}




.footer_widget nav ul li a{
	color: #9ABC31!important;
}

.sidebar-widget a{
	color: #9ABC31!important;
}

.footer-heading{
font-size: 24px!important;
color: white!important;}

@media only screen and (min-width: 575px){
    /*container for the pricing table, and contact info banner */
    .row{
        /* flex-direction: column; */
        }

    .col-md-9,.col-md-3{
        max-width: none;
        flex-basis:80%;}}


@media only screen and (min-width: 767px){
	.col-sm-6{
		width: 80%;
		float: none;}}