
.hero-area h1{
    width: 155px;
}



.unwanted{
	display: none;
}

 .footer_widget nav ul li a{
	color: #9ABC31!important;
}

.nav-pills li a{
	color: #9ABC31;
}

.gallery-image{
    text-align: center;
    font-size:24px;
    width: 150px;
    height: 150px;
    background-color:grey;
    color: black;
    position: relative;
    }

.isotope{
	overflow-x:visible!important;
	overflow-y: visible!important;}

@media only screen and (min-width: 768px){
	.col-md-4{
		position: static!important;}

	.project-grid-item{margin-bottom:0!important;}}

