
.hero-area h1{
    width: 155px;
}



.unwanted{
	display: none;
}

 .footer_widget nav ul li a{
	color: #9ABC31!important;
}

.nav-pills li a{
	color: #9ABC31;
}

.btn-primary{
	max-width: 200px;}

.widgettitle{
	margin: 10px auto;
	width: 300px;}


@media only screen and (min-width:575px){
	/* image gallery container */
	.isotope {
		overflow: visible !important;
		height: auto !important;
		margin: 0 auto;
	}
	.isotope-item {
		position: static !important;
		margin-right: auto;
		margin-left: auto;
		width: auto;
		float:none;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
		max-width: none;
	}
	.isotope-hidden {
		display: none !important;}
	.col-md-3{
		flex-basis: 85%;
		max-width: 700px;}
		}