/*
.debug{
	border-width: 1px;
	border-color: blue;
	border-style: solid;}*/
html{
	font-size: 1.75vw;}

body{
	margin: 0px;

	

}
*{
	z-index: 2;
}

/*remove all breadcrumbs*/
.breadcrumb,.footer_widget div.carousel-wrapper{display: none!important;}
.col-md-4 .footer_widget h4.widgettitle{display: none!important;}
#contact-info{
	display: none!important;
}

/*Removal of the greenskeepers logo in the top header*/ 
.site-logo a img{
	display: none;
}

#site-logo-parent,.site-logo{/*height: 27.5vw*/font-size: 16px;
height:  3em;}

.site-logo{
	max-width: 230px;}

	.site-tagline{position: absolute;
	left: 85%;
	z-index: 0!important;
	display: none;}

	.hero-area{display: none!important;}
   #twitter-header{display: none;}

   a[href="faqs.php"], a[href="projects-grid.php"]{display: none!important;}
	
	



/*Company name header links*/
.site-logo a{
    position: absolute;
    left: -6%;
    bottom:;
    font-size: 4rem;
    z-index:0;
    display: block;
    color: white; 
    width: 60vw;
    max-width: 220px;}

    .site-logo a:hover{color: white;}
	
	

	/*Make the Quick Links at the bottom green*/
	.footer_widget nav ul li a{
	color: #9ABC31!important;}


/*Readjust the position of the header*/
@media only screen and (min-width: 285px){
	.site-logo a{left:-2%;}
}


    
                                         
/*cap the size of the Header's font*/
@media only screen and (min-width: 367px){
	 .site-logo a{ font-size: 25.69px;}
}

/*cap the font-size of the offcanvas menu's links
@media only screen and (min-height: 400px){
	#menu li{
		font-size: 24.48px;
		 left: 24px;
         width: 168px;
	}
}
*/
/*header needs to be repositioned*/
@media only screen and (min-width: 576px){
	    .site-logo a{
	    	position: fixed;
	    	position: absolute;
	    	/*left: -40.5%;
	    	left: -93px;*/
	    	/*left: -8%!important;*/
	    	

	    }
}
/*Custom Tablet Breakpoint
@media only screen and (min-width: 600px){
	.site-header-right{
		float:left;
		width:100%;
		display:none
	}
}*/



/*the header container's height needs to be increased*/
@media only screen and (min-width: 768px){
    .site-logo {
    	height: 48px;
    }
}






