/*
.debug{
	border-width: 1px;
	border-color: blue;
	border-style: solid;}*/
html{
	font-size: 1.75vw;}

body{
	margin: 0px;

	

}
*{
	z-index: 2;
}

/*remove all breadcrumbs*/
.breadcrumb,.footer_widget div.carousel-wrapper{display: none!important;}
.col-md-4 .footer_widget h4.widgettitle{display: none!important;}
#contact-info{
	display: none!important;
}

/*Removal of the greenskeepers logo in the top header*/ 
.site-logo a img{
	display: none;
}

#site-logo-parent,.site-logo{/*height: 27.5vw*/font-size: 16px;
height:  3em;}

.site-logo{
	max-width: 230px;}

	.site-tagline{position: absolute;
	left: 85%;
	z-index: 0!important;
	display: none;}

	.hero-area{display: none!important;}
   #twitter-header{display: none;}

   a[href="faqs.php"], a[href="projects-grid.php"]{display: none!important;}
	
	



/*Company name header links*/
.site-logo a{
    position: absolute;
    left: -6%;
    bottom:;
    font-size: 4rem;
    z-index:0;
    display: block;
    color: white; 
    width: 60vw;
    max-width: 220px;}

    .site-logo a:hover{color: white;}
	
	

	/*Make the Quick Links at the bottom green*/
	.footer_widget nav ul li a{
	color: #9ABC31!important;}

	
/****Carousel****/
/*Animation code for the Carousel*/
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

/*
body {
  max-width: 37.5rem;
  margin: 0 auto;
  padding: 0 1.25rem;
  font-family: 'Lato', sans-serif;
}*/

/*Univeral stylings*/



ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*This rules targets the conatiner for the entire Carousel*/
.carousel {
  position: relative;
  /*padding-top: 75%;*/
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
  height: 70vh;

  }


/*This rules targets the conatiner for the  Carousel images*/
.carousel__viewport {
  position:absolute;
  width: 100vw;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 63.875vh;
  height: 17.43em;
  /*height: 214px;*/
  position: relative;
  margin-bottom: 0px;
  max-height: 400px;}


/*Common stylings for the slides withun the Carousel*/
.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
 /* background-color: #f99;*/
  /*counter-increment: item;*/
}

.carousel__slide:nth-child(even) {
  /*background-color: #99f;*/
}



.carousel__slide:before {
 /* content: counter(item);*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #fff;
  font-size: 2em;
}

/*Stylings for the Containers of the Carousel buttons*/
.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

/*The default configuring of the Carousel button's functioning via animation properties*/
@media all {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

/* Removal of Carousel button's functioning for certain User agents*/
@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

/*Halts motion of Carousel when use clicks, taps, or hovers over a slide*/
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}


.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  background-color: #333;
  background-clip: content-box;
  border: 0.25em solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}


/*Both Carousel buttons.Note that the psuedoelements 
  produce the triangular icons.The __prev and __next 
  are the buttons per se*/
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0%;
  margin-top: 37.5%;
  width: 2.5em;
  height: 2.5em;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;}

/*The left Carousel navigation button Note that the psuedoelement 
 represents the white triangular icon*/
.carousel::before,
.carousel__prev {
  left: .6em;}
  


/*The right navigation button*/
.carousel::after,
.carousel__next {
  right: .6em;
}

/*Stylings for theTriangular arrows wihtin the Carousel buttons*/
.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #333;
  background-size: 1.5em 1.5em;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 1em;
  line-height: 4em;
  text-align: center;
  pointer-events: none;
}


/*Image Sourece for the Triangular arrows of the Carousel buttons*/
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}






/**** Carousel Images****/

#carousel__slide1,#carousel__slide2,#carousel__slide3,#carousel__slide4{
background-repeat: no-repeat;
background-position: center top;
background-size: 100vw 62.5vh;}

/*1st Carousel image*/
#carousel__slide1{
background-image: url("https://via.placeholder.com/240X200.jpg?text=First+Image");}

/*2nd Carousel image*/
#carousel__slide2{
 background-image: url("https://via.placeholder.com/240X200.jpg?text=Second+Image");}


/*3rd Carousel image*/
#carousel__slide3{
background-image: url("https://via.placeholder.com/240X200.jpg?text=Third+Image");} 

/*4th Carousel image*/
#carousel__slide4{
background-image: url("https://via.placeholder.com/240X200.jpg?text=Fourth+Image");}

/**/
@media only screen and (min-width: 280px){
	/*This rule set is responsible for  altering the three line Hamburger Icon 
into an "X" shaped button when the icon is clicked*/
#menuToggle input:checked ~ span
{opacity: 1;
  transform: rotate(45deg) translate(-3.05px,-.75px);
  background: #36383F;
}
}

@media only screen and (min-width: 330px){
	/*This rule set is responsible for  altering the three line Hamburger Icon 
into an "X" shaped button when the icon is clicked*/
#menuToggle input:checked ~ span
{
  opacity: 1;
  /*transform: rotate(45deg) translate(-3.05px,-.25px);*/
  
  transform: rotate(45deg) translate(-5px, -3px);
  background: #36383F;
}
}

/*Readjust the position of the header*/
@media only screen and (min-width: 285px){
	.site-logo a{left:-2%;}
}


    
                                         
/*cap the size of the Header's font*/
@media only screen and (min-width: 367px){
	 .site-logo a{ font-size: 25.69px;}
}

/*cap the font-size of the offcanvas menu's links
@media only screen and (min-height: 400px){
	#menu li{
		font-size: 24.48px;
		 left: 24px;
         width: 168px;
	}
}
*/
/*header needs to be repositioned*/
@media only screen and (min-width: 576px){
	    .site-logo a{
	    	position: fixed;
	    	position: absolute;
	    	/*left: -40.5%;
	    	left: -93px;*/
	    	/*left: -8%!important;*/
	    	

	    }
}
/*Custom Tablet Breakpoint
@media only screen and (min-width: 600px){
	.site-header-right{
		float:left;
		width:100%;
		display:none
	}
}*/



/*the header container's height needs to be increased*/
@media only screen and (min-width: 768px){
    .site-logo {
    	height: 48px;
    }
}






