
/*Book Service button*/
#service-submit{
	position: fixed;
	right: 0px;
	 bottom: 62px; 
	z-index: 13;
	width: 120px;
	padding: 6px 10px;
	}

#service-submit > a{
	color: white;
	font-size: 13px;
	}

.unwanted{
    display: none;
}

.footer_widget nav ul li a{
	color: #9ABC31!important;
}


.sidebar-widget a{
    color:#A3C245!important;
}


/*the div wrapping the <ul> element for the list of services*/
#main-container > div.widget.sidebar-widget.widget_custom_menu{margin-top: 0;}

/*Hero area containing the default breadcrumb links*/
body > div > div.hero-area > div{display:none;}

/*left border of the All Services link*/

.widget_custom_menu ul li.active a{
	border-left: none;}

@media only screen and (min-width: 600px){
    /*Book Service button*/
	#service-submit{
		 bottom: 40px; 
		right: 35px;
		}}

@media only screen and (min-width: 700px){
	/*Book Service button*/
	#service-submit{
		width: 140px;
		padding: 4px 10px;}


	#service-submit a{
		font-size:16px;}}


@media only screen and (min-width: 870px){
	#service-submit{
		top: 50px;
		left: 700px;
		bottom: initial;
		}}


@media screen and (min-width: 600px) and (min-height: 580px), screen and (min-width:870px){
	#service-submit{
		position:absolute;}}

