
/*Book Service button*/
#service-submit{
	position: fixed;
	right: 0;
	bottom: 62px;
	z-index: 13;
	width: 100px;
	padding: 4px 10px;
	}

#service-submit > a{
	color: white;
	font-size: 10px;
	}

.unwanted{
    display: none;
}

.footer_widget nav ul li a{
	color: #9ABC31!important;
}


.sidebar-widget a{
    color:#A3C245!important;
}
