


.topnav{border-width: 1px;
        border-style: solid;
        border-color:#9abc31;
        border-top: none; 
        overflow: hidden;
        z-index: 3;
           }


#mytopnav{display: none!important;}


.topnav a {
  float: left;
  display: block;
  color: #9abc31;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right-color:#9abc31;
  border-right-style: solid;
  border-right-width: 1px;
  z-index: 4;

  }

  .topnav a:nth-of-type(6){border: none;}