


.topnav{border-width: 1px;
        border-style: solid;
        border-color:#9abc31;
        /*border-top: none; */
        border-right: none;
        border-left: none;
        overflow: hidden;
        display:none;
        width: 100%;}





.topnav a {
  float: left;
  display: block;
  color: #9abc31;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-right-color:#9abc31;
  border-right-style: solid;
  border-right-width: 1px;}

  /*.topnav a:nth-of-type(4),.topnav a:nth-of-type(5)
  { border-top-color:#9abc31;
   border-top-style: solid;
   border-top-width: 1px;}*/

  .topnav a:nth-of-type(6){
   border: none;
  /* border-top-color:#9abc31;
   border-top-style: solid;
   border-top-width: 1px;
   width:  100px;*/
   }

  @media only screen and (min-width: 600px){
    .topnav{display: block;}
  }